*,
*::before,
*::after {
    margin: 0;
  box-sizing: border-box;
}

main{
  background-color: var(--background-color);
}

h1{
  font-weight: normal;
  font-size: var(--heading-1);
}

h2{
  font-weight: normal;
  font-size: var(--heading-2);
}

h3{
  font-weight: normal;
  font-size: var(--heading-3);
}

p{
  font-weight: normal;
  font-size: var(--text);
  line-height: 1.6;
}

figcaption{
  font-weight: normal;
  font-size: var(--legend);
  font-style: italic;
}