.bjarke__article__titre--texte {
    text-align: center;
    font-family: var(--font-family-2);
    font-size: var(--heading-1);
    margin-left: 10px;
    margin-bottom: 30px;
    padding-top: 30px;
}

.bjarke__article__titre2{
    background-color: var(--blue-color);
}

.bjarke__article__titre--texte2{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    z-index: 2;
    font-family: var(--font-family-2);
    font-size: var(--heading-2);
    color: var(--white-color);
    background-color: var(--blue-color);
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
}

.bjarke__article__titre--line{
    display: block;
    margin: auto;
    margin-bottom: 30px;
}

.bjarke__article__titre--photo{
    position: relative;
    display: block;
    margin: auto;
    margin-bottom: 30px;
    width: auto;
    max-width: 100%;
}


.bjarke__article__premier--titre{
    font-family: var(--font-family-2);
    font-size: var(--heading-3);
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.bjarke__article__premier--corps{
    font-family: var(--font-family);
    font-size: var(--texte);
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
}

.bjarke__article__deuxieme{
    background-color: var(--black-color);
}

.bjarke__article__deuxieme--titre{
    font-family: var(--font-family-2);
    font-size: var(--heading-3);
    color: var(--white-color);
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 30px;
}

.bjarke__article__deuxieme--corps{
    font-family: var(--font-family);
    font-size: var(--texte);
    color: var(--white-color);
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 30px;
}

.bjarke__article__photo{
    position: relative;
    display: block;
    margin: auto;
    margin-bottom: 30px;
    width: auto;
    max-width: 100%;
}


.bjarke__article__troisieme--titre{
    font-family: var(--font-family-2);
    font-size: var(--heading-3);
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.bjarke__article__troisieme--corps{
    font-family: var(--font-family);
    font-size: var(--texte);
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
}

.bjarke__article__quatrieme{
    background-color: var(--black-color);
}

.bjarke__article__quatrieme--titre{
    font-family: var(--font-family-2);
    font-size: var(--heading-3);
    color: var(--white-color);
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 30px;
}

.bjarke__article__quatrieme--corps{
    font-family: var(--font-family);
    font-size: var(--texte);
    color: var(--white-color);
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 30px;
}


.bjarke__article__cinquieme--titre{
    font-family: var(--font-family-2);
    font-size: var(--heading-3);
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
}

.bjarke__article__cinquieme--corps{
    font-family: var(--font-family);
    font-size: var(--texte);
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 60px;
}

.bjarke__carrousel__line{
    display: block;
    margin: auto;
    margin-bottom: 60px;
}

.bjarke__carrousel__titre{
    background-color: var(--blue-color);
}

.bjarke__carrousel__titre--texte{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    z-index: 2;
    font-family: var(--font-family-2);
    font-size: var(--heading-2);
    color: var(--white-color);
    background-color: var(--blue-color);
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
}


figcaption {
    color: var(--black-color);
}

.bjarke__carrousel{
    padding-bottom: 100px;
}

.bjarke__carrousel__carrousel{
    padding-top: 30px;
}
.bjarke__carrousel__carrousel__parent-images {
    display: flex;
    width: 100%;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.bjarke__carrousel__carrousel__image {
    width: 100%;
    flex: 0 0 100%;
    scroll-snap-align: start;
}

.bjarke__carrousel__carrousel__image img {
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.bjarke__carrousel__carrousel__image figure {
    margin: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bjarke__carrousel__carrousel {
    position: relative;
}

.bjarke__carrousel__carrousel__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 2rem;
    height: 2rem;
    background: var(--black-color);
    border-radius: 10px;
    border: 1px solid var(--white-color);
    display: grid;
    place-content: center;
    color: var(--white-color);
    cursor: pointer;
}

.bjarke__carrousel__carrousel__btn-avant {
    left: 0;
}

.bjarke__carrousel__carrousel__btn-apres {
    right: 0;
}
